$gray:      #666;
$black:     #222;

body {
    text-align: center;
}

.container {
    background-color: $gray;
    // border-radius: 5px;
    display: inline-block;
    padding: 25px;
    text-align: center;
}

.block-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.alt-image-container {
    flex: 1 1 50%;
    max-width: 150px;

    .alt-image {
        cursor: pointer;
        height: auto;
        max-width: 100%;
        opacity: .85;

        &:hover {
            opacity: 1;
        }
    }
}

.screen {
    .image {
        max-width: 100%;
        padding: 15px 0;
    }
}

button {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
